<div class="prototype__image">
        <%= image_tag @nail.image %>
      </div>

<table class="table">
<tbody>
          <tr>
            <th class="table__col1">デザイン</th>
            <td class="table__col2"><%= @nail.design.name %></td>
          </tr>
          <tr>
            <th class="table__col1">カラー</th>
            <td class="table__col2"><%= @nail.color.name %></td>
          </tr>
          <tr>
            <th class="table__col1">シーン</th>
            <td class="table__col2"><%= @nail.scene.name %></td>
          </tr>
          <tr>
            <th class="table__col1">テイスト</th>
            <td class="table__col2"><%= @nail.taste.name %></td>
          </tr>
        </tbody>
        </table>
