<body>
<div class="prototype__image">
        <%= image_tag @nail.image %>
      </div>

<table class="table">
<tbody>
          <tr>
            <th>デザイン</th>
            <td><%= @nail.design.name %></td>
          </tr>
          <tr>
            <th>カラー</th>
            <td><%= @nail.color.name %></td>
          </tr>
          <tr>
            <th>シーン</th>
            <td><%= @nail.scene.name %></td>
          </tr>
          <tr>
            <th>テイスト</th>
            <td><%= @nail.taste.name %></td>
          </tr>
        </tbody>
        </table>
</div>
</body>